* {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #f55a5a;
  color: #fff;
}

.header i {
  margin: 0 5px;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.7vh;
  font-weight: normal;
}

.card--date {
  font-weight: bold;
}

.card {
  display: flex;
  margin: 7vh 30vh;
  height: 50vh;
  border: solid;
}
.card--column1 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
}
.card--img {
  /* flex-shrink: 0; */
  min-width: 100%;
  /* min-height: 100%; */
}
.card--column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vh 0 3vh 3vh;
  width: 75%;
  font-size: small;
}
.card--location--row {
  display: flex;
}
.card--location--row a {
  color: grey;
  padding-left: 3vh;
}
.fa-map-marker-alt {
  color: #f55a5a;
  padding-right: 1vh;
}
.card--column2 h1,
.card--date {
  margin-bottom: 2vh;
}
